<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Editer un festival</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
</head>
<body>

<h1> Editer un festival</h1>

<form method="POST" th:action="@{/delete/{id}(id=${festival.id})}">
    <td><button class="supprimer" onclick="confirmerSuppression(${festival.id})">Supprimer</button></td>
</form>

<form id="édition" method="POST" th:action="@{/edit/{id}(id=${festival.id})}">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" readonly th:value="${festival.nom}"><br><br>

    <label for="ville">Ville :</label>
    <input type="text" id="ville" name="ville" readonly th:value="${festival.ville}"><br><br>

    <label for="cp">Code Postal :</label>
    <input type="text" id="cp" name="cp" readonly th:value="${festival.cp}"><br><br>

    <label for="lieu">Lieu :</label>
    <input type="text" id="lieu" name="lieu" th:value="${festival.lieu}"><br><br>

    <label for="debut">Date de début :</label>
    <input type="date" id="debut" name="debut" th:value="${festival.debut}"><br><br>

    <label for="fin">Date de fin :</label>
    <input type="date" id="fin" name="fin" th:value="${festival.fin}"><br><br>

    <input type="submit" value="Modifier" class="modifier" </input>

</form>


</body>
</html>
<script src="/static/js/edit.js"></script>
