<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Formulaire d'ajout de festival</title>
    <!--Potentiel CSS -->
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <style>.map {
        width: 1000px;
        height: 400px;
        display: flex;
        align-items: center;
    }
    </style>

</head>
<body>
<div class="container2">
<h1>Ajouter un festival</h1>

<div id="map" class="map"></div>

<!-- Ajout d'une balise div cachée pour stocker les données des festivals -->
<div id="festivals-data" th:attr="data-festivals=${festivalsJson}" style="display: none;"></div>


<form id="formulaire" method="POST" action="/submit">

    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" autofocus required><br><br>

    <label for="url">URL :</label>
    <input type="text" id="url" name="url"><br><br>

    <label for="ville">Ville :</label>
    <input type="text" id="ville" name="ville" required><br><br>

    <label for="cp">Code postal :</label>
    <input type="number" id="cp" name="cp" required ><br><br>

    <label for="lieu">Lieu :</label>
    <input type="text" id="lieu" name="lieu" required ><br><br>

    <label for="debut">Date de début :</label>
    <input type="date" id="debut" name="debut" required ><br><br>

    <label for="fin">Date de fin :</label>
    <input type="date" id="fin" name="fin" required ><br><br>

    <label for="lat">Latitude :</label>
    <input type="number" id="lat" name="lat" step="0.000001" required ><br><br>

    <label for="lon">Longitude :</label>
    <input type="number" id="lon" name="lon" step="0.000001" required ><br><br>


    <input type="submit" value="Valider" class="myButton">
</form>

<!-- Ajouter le code Javascript pour la carte Leaflet -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="https://unpkg.com/jquery"></script>
<footer class="footer">

    <a target="_blank" href="https://www.letelegramme.fr/" class="lien-icone">
        <img class="logo" th:src="@{/Logo-Le-Télégramme.png}" src="../static/Logo-Le-Télégramme.png" alt="Logo Télégramme" >
    </a>

</footer>
</div>
</body>
</html>
<script src="../static/js/form.js" th:src="@{/js/form.js}"></script>
<script>
    document.addEventListener('readystatechange', event => {
        if ( document.readyState ==='complete'){
            initMap();
        }
    });
</script>