<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Les festivals de votre région</title>
    <link rel="stylesheet" href="style.css" />
    <link href="style.css" rel="stylesheet" />
</head>

<body>

<h1>Les festivals de votre région</h1>
<div class="carte">

</div>

<form>
    <button type="button" onclick="nouveauFestival.html">Créer un festival</button>


</form>
<table>
<thead class="listeFestivals">
    <th>Nom</th>
    <th>Ville</th>
    <th>Lieu</th>
    <th>Date de début</th>
    <th>Date de fin</th>
</thead>

    <tbody>
    <td>Nom</td>
    <td>Ville</td>
    <td>Lieu</td>
    <td>Date de début</td>
    <td>Date de fin</td>
    <td><button class="editer" type="button">Editer</button></td>
    </tbody>



</table>

</body>
</html>