<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Titre</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <style>.map {
        width: 1000px;
        height: 400px;
    }

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .festivals {
        align-content: space-between;
        margin-top: 10px;
        margin-bottom: 15px;
    }</style>
</head>

<body>

<h1>Les festivals de votre région</h1>
<div class="container">
    <div id="map" class="map"></div>

    <!-- Ajout d'une balise div cachée pour stocker les données des festivals -->
    <div id="festivals-data" th:attr="data-festivals=${festivalsJson}" style="display: none;"></div>



    <!--Bouton jour accéder au formulaire de création d'un festival -->
    <div class="bouton">
        <a href="form.html" th:href="@{/add-Festival}" class="nouveau">Ajouter un nouveau festival</a>
    </div>

    <!-- Ajout d'une balise div afin de rechercher un festival par son nom ou sa ville -->
    <div class="trouver">
        <label class="chercherFestival" for="search">Rechercher un festival :</label>
        <input class="villeFestival" type="text" id="search" name="search" placeholder="Nom ou ville">
        <button class="jeCherche" onclick="rechercher()">Rechercher</button>
    </div>

    <!-- Tableau avec la liste des festivals -->
    <table class="tableau">
        <caption class="titre">Liste des prochains festivals</caption>
        <thead class="listeFestivals">
        <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th>Lieu</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody class="festivals">
        <tr class ="rechercher" th:each="festival : ${festivals}">
            <td th:text="${festival.nom}"></td>
            <td th:text="${festival.ville}"></td>
            <td th:text="${festival.lieu}"></td>
            <td th:text="${festival.debut}"></td>
            <td th:text="${festival.fin}"></td>
            <td>
                <form method="POST" action="/edit-festival">
                    <input type="hidden" name="id" th:value="${festival.id}"/>
                    <input class="boutonEditer" type="submit" value="Editer"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>



    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://unpkg.com/jquery"></script>
</div>
</body>
</html>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
<script>
    document.addEventListener('readystatechange', event => {
        if (document.readyState === 'complete') {
            initMap();
        }
    });
</script>
